body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
  overflow-x: hidden;
}

.cover {
  width: 100vw;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 100px 0 100px 0;
  border-bottom: 4px solid #e8491d;
}

.cover-img > img {
  width: 500px;
  text-align: center;
}

.cover-content {
  display: flex;
  place-items: center;
}

.cover-content > div > h1 {
  font-family: "poppins";
  font-style: italic;
  font-size: 100px;
  color: #35424a;
  margin: 0;
  background: -webkit-linear-gradient(left, #e8491d, #35424a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px white;
}

.cover-content > div > span {
  color: #35424a;
  font-size: 20px;
  font-weight: bold;
  font-family: "poppins";
  font-style: italic;
  position: relative;
  bottom: 32px;
}

.cover-content > p {
  margin: 0;
}

@media only screen and (max-width: 469px) {
  .cover-img > img {
    width: 250px;
  }

  .cover-content > div > h1 {
    font-size: 64px;
    text-align: center;
  }

  .cover-content > div > span {
    display: inline-block;
    text-align: center;
    bottom: 0;
  }
}

/* Global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

.button_1 {
  height: 38px;
  background: #e8491d;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

.dark {
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Header **/
header {
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 4px solid;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight,
header .current a {
  color: #e8491d;
  font-weight: bold;
}

header a:hover {
  color: #cccccc;
  font-weight: bold;
}

.project-heading {
  font-size: 44px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #e8491d;
}

/* Showcase */
#showcase {
  min-height: 400px;
  /* background:url('../img/lab.jpg') no-repeat 0 -400px; */
  background-color: #35424a;
  text-align: center;
  color: #ffffff;
}

#showcase h1 {
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 22px;
  text-align: justify;
}

/* Newsletter */
#newsletter {
  padding: 15px;
  color: #ffffff;
  background: #35424a;
}

#newsletter h1 {
  float: left;
}

#newsletter form {
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"] {
  padding: 4px;
  height: 25px;
  width: 250px;
}

/* Boxes */
#boxes {
  margin-top: 20px;
}

#byline {
  text-align: center;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box img {
  width: 90px;
  border-radius: 100px;
}

#aboutbody {
  background-color: #35424a;
}
/* Sidebar */
aside#sidebar {
  float: right;
  width: 30%;
  margin-top: 10px;
}

aside#sidebar .quote input,
aside#sidebar .quote textarea {
  width: 90%;
  padding: 5px;
}

/* Main-col */
article#main-col {
  float: left;
  width: 65%;
}

/* Services */
ul#services li {
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #e8491d;
  text-align: center;
}

/* Media Queries */
@media (max-width: 768px) {
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }

  header {
    padding-bottom: 20px;
  }

  #showcase h1 {
    margin-top: 40px;
  }

  #newsletter button,
  .quote button {
    display: block;
    width: 100%;
  }

  #newsletter form input[type="email"],
  .quote input,
  .quote textarea {
    width: 100%;
    margin-bottom: 5px;
  }

  #a {
    color: #ffffff;
  }
  #a:visited {
    color: #636;
  }
  #a:hover,
  active,
  focus {
    color: #c33;
  }
}

.wrapper {
  max-width: 1500px;
  margin: auto;
}

.wrapper > h1 {
  font-family: "poppins";
  text-align: center;
  color: white;
}

iframe {
  display: block;
  margin: auto;
  margin-bottom: 50px;
  width: 96vw;
  height: 96vh;
}
